<%= form_for [:room,@booking] do |f| %>
  <p>
    <%= f.label :start_at %>
    <%= date_select :booking, :start_at, :id => 'booking_start_at', selected: Date.today, :class => 'form-control' %>
  </p>
  <p>
  <%= f.label :end_at %>
  <%= date_select :booking, :end_at, :id => 'booking_end_at', selected: Date.tomorrow, :class => 'form-control' %>
  </p>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>

