<% if @user.errors.any? %>
   <div id="erros_explanations">
     <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
     <% end %>
   </div>
<% end %>

<%= form_for @user do |f| %>
   <p>
     <%= f.label :email %>
     <%= f.text_field :email %>
   </p>
   <p>
     <%= f.label :password %>
     <%= f.password_field :password %>
   </p>
   <p>
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation %>
   <p>
     <%= f.label :full_name %>
     <%= f.text_field :full_name %>
   </p>
   <p>
     <%= f.submit %>
   </p>
<% end %>

