<table class="table table-stripped">
   <tr>
     <th>#</th>
     <th><%= t('activerecord.attributes.room.description') %></th>
     <th></th>
   </tr>
<% @rooms.each do |room| %>
  <tr>
    <td>Quarto # <%= room.id %></td>
    <td><%= room.description %></td>
    <td><%= link_to 'Ver detalhes do quarto', room %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Criar novo quarto', new_room_path, :class => 'btn btn-primary' %>
